extends layout

block content

    h2 Membership

    p Welcome #{user.username}

    p Membership type: 
        span.membership-type #[strong #{membership || user.membership}]
    
    
    form.m-2(action='' method='POST')
        .form-group.text-center
            label(for='code') Upgrade Code: 
            input.form-control(name='code' type='text')
        .text-center
            button.btn.btn-secondary(type='submit') Enter

    | 

    .membership-change-attempt
        if attempted
            if status
                p Congrats, you now have #[strong #{membership}] membership!
            else 
                - var quote = (membership === 'member') ? 'consider yourself lucky.' : (membership === 'moderator') ? 'you are a god, why would you want to change?' : 'peasant.';
                p Your membership remains #[strong #{membership}], #{quote}
    
    .membership-tips.text-center.mt-4
        div Being a member of the club is pretty 
            span.i exclusive, 
            span you can see who and when wrote posts.

        div To be a moderator, you really need to be a 
            span.i person in a position of charge. 
            span You will have the ability to delete posts.

                    