extend layout

block content
    .message-detail
        p #{title}
        hr
        p= content
        hr
        if user
            if user.membership === 'member' || user.membership === 'moderator'
                a(href=author.url) #{author.username}
                p= timestamp